on: [push]

jobs:
  secret_checker:
    runs-on: ubuntu-latest
    name: Vulnerabilities check
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Check for vulnerabilities
        id: checks
        uses: maddygoround/secretduty@v1.5
        with:
          severity: "['CRITICAL','MAJOR']"
      - name: Get results of scan
        run: echo "Scan Results - ${{ steps.checks.outputs.result }}"